

.resultdiv{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3,1fr)
    
    
}
.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: full;
    /* width: 100%; */
    background-color:#303030 ;
    padding: 60px;
}
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: ;     */
    height: full;
    background-color:#303030 ;
    padding: 60px;
}
.sound{
    background-color:#303030 ;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    
}
.sound label{
    color: aliceblue;
}


@media all and  (min-width:10px) and (max-width:600px){
    .resultdiv{
        display: grid;
        width: 40%;
        margin: auto;
        grid-template-columns: repeat(1,1fr)
        
        
    }
    .main{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: full;
        width: 100%;
        background-color:#303030 ;
        padding: 70px;
        margin: auto;
    }
    .footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: full;
        background-color:#303030 ;
        padding: 70px;
        margin: auto;
    }
}

@media all and (min-width:601px) and (max-width:1024px){
    .resultdiv{
        display: grid;
        width: 66%;
        margin: auto;
        grid-template-columns: repeat(3,1fr);
        /* border: 1px solid red; */
        
        
        
    }
    .main{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: full;
        width: 100%;
        background-color:#303030 ;
        padding: 10px;
        margin: auto;
    }
    .footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: full;
        background-color:#303030 ;
        padding: 10px;
        margin: auto;
    }
}